body {
    background: rgb(39, 109, 105);
    background-image: url("../img/foto2.png");
    background-size: 60vw;
}


nav a img {
    height: 4vw;
}

nav ul a:hover {
    background-color: rgba(247, 247, 247, 0.24)
}

#mobile-demo li a {
    color: white;
}

.indicators {
   
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,1) 19%, rgba(255,255,255,0) 100%);
    
}

.carousel carousel-slider {
    
    height: 50vw;
}

.carousel-item amber darken-2 white-text {
    background-image: url(../img/carrosel/1.jpg);
}

@media screen and (max-width: 480px) {
    .indicators{
    background: red;
    background: linear-gradient(0deg, rgb(245, 0, 0) 0%, rgb(235, 252, 0)) 19%, rgba(255,255,255,0) 100%;
    }
   
}


