body {
    background: #4ECDC4;
    background-image: url("../img/foto2.png");
    background-size: 60vw;
}

#logo {
    height: 7vw;
    margin-left: 15vw;
}

#login {
    border-radius: 50px;
}

#login-page {
    width: 500px;
}

.card {
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%, -50%) -webkit-transform: translate(-50%, -50%) -ms-transform: translate(-50%, -50%) -o-transform: translate(-50%, -50%) transform: translate(-50%, -50%);
}

#Pesquisar{
    height: 10px;
}